.navigationContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    background-color: #1E1E1E;
}

.navigationBar{
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 1280px;
    width: 100%;
    background-color: transparent;
}