.navigationText {
    font-family: monospace;
    font-weight: 600;
    letter-spacing: 2px;
    text-transform: uppercase;
    
}

.navigationContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    background-color: #1E1E1E;
}

.footer{
    background-color: #1e1e1e;
    height: 4rem;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.navigationBar{
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 1280px;
    width: 100%;
    background-color: transparent;
}

/* Menú hamburguesa */
.hamburger {
    display: none;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    width: 30px;
    height: 25px;
    background: transparent;
    border: none;
    cursor: pointer;
}

.hamburger .bar {
    width: 30px;
    height: 4px;
    background-color: white;
    border-radius: 10px;
}

/* Menú móvil */
.mobile-menu {
    display: none;
    flex-direction: column;
    position: absolute;
    top: 60px;
    left: 0;
    width: 100%;
    background-color: #333;
    text-align: center;
}

.mobile-menu.open {
    display: flex;
    z-index: 9000;
}

.mobile-menu a {
    color: white;
    text-decoration: none;
    padding: 1rem;
    border-top: 1px solid #444;
    width: 100%;
}

.mobile-menu a:hover {
    background-color: #555;
}

.desktop-menu {
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 2rem;
}

/* Mostrar el botón hamburguesa en pantallas pequeñas */
@media screen and (max-width: 768px) {
    .hamburger {
        display: flex;
    }

    .desktop-menu {
        display: none !important; /* Ocultamos los enlaces para escritorio en móviles */
    }
}

